
<%- include('partials/head.ejs') %> 

<!-- Agrego navbar-->
<%- include('partials/navbar.ejs') %> 
<div class="container">
<h1><%=producto.nombre%></h1>
<p><%=producto.descripcion%></p>
<p><%=producto.precio%></p>
<img src="/images/<%=producto.imagen%>" >
<br>
<a href="/productos/editar/<%=producto.id%>">
    Editar
</a>

<form action="/productos/borrar/<%=producto.id%>" method="POST">
<button type="submit">Borrar</button>
</form>
</div>














<%- include('partials/footer.ejs') %>