<!-- Agrego header-->
<%- include('partials/headCreado.ejs') %>

<!-- Agrego navbar-->
<%- include('partials/navbar.ejs') %>
<br>
<br>
<div class="container">
<h1>Edita tu producto</h1>
<form action="/productos/editar/<%=producto.id%>" method="POST" enctype="multipart/form-data" class="formulario">
    <div>
        <label for="">Nombre</label>
        <input type="text" name="nombre" value="<%=producto.nombre%>">
    </div>
    <div>
        <label for="">Descripcion</label>
        <input type="text" name="descripcion" value="<%=producto.descripcion%>">
    </div>
    <div>
        <label for="">Precio</label>
        <input type="number" name="precio" value="<%=producto.precio%>">
    </div>
    <div>
        <label for="">Imagen</label>
        <input type="file" id="imagen" class="imagen btn btn-success" name="imagen" value="<%=producto.imagen%>">
    </div>
    <button type="submit" class="btn btn-warning">Editar</button>
</form>
<br>
<form action="/productos/borrar/<%=producto.id%>" method="POST">
    <button type="submit" class="btn btn-danger">Borrar</button>
    </form>
</div>
<br>
<br>
<br>
<br>
<br>
<%- include('partials/footer.ejs') %>